.container{
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgb(135 132 132 / 20%);
}
.container h3{
    font-size: 14px;
    text-align: center;
}

.container img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.container ul{
    padding: 0;
}
.container li{
    display: flex;
    margin-left: 5px;
}
.container button{
    font-size: 16px;
    margin-top: -5px;
}

.adventure{
    font-size: 16px;
    margin: 0 5px 0 5px;
}
.adventure p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}

.food{
    font-size: 16px;
    margin: 0 7px 0 5px;
}
.food p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}
.drama{
    font-size: 16px;
    margin: 0 29px 0 5px;
}
.drama p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}
.fitnes{
    font-size: 16px;
    margin: 0 32px 0 5px;
}
.fitnes p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}
@media all and (max-width: 1350px) {
    .container a{
        font-size: 12px;
    }
    .container button{
        font-size: 12px;
        margin-top: -5px;
    }
    .container p{
        font-size: 11px;
    }
}


