.newpost{
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px rgb(135 132 132 / 20%);
}
.newpost img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.formInfo{
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 500px) {
    .newpost img{
        margin: 15px 0 0 10px;
    }
}

@media all and (max-width: 400px) {
    .newpost img{
        width: 70px;
        height: 70px;
    }
}
