.newpost{
background-color: white;
display: flex;
justify-content: center;
width: 906px;
}
.newpost img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.formInfo{
    display: flex;
    flex-direction: column;
}
@media all and (max-width: 1000px) {
    .newpost{
        width: 740px;
        }
}

