.form {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
    background-color: white;
    box-shadow: 0 0 8px rgb(135 132 132 / 50%);
    border-radius: 20px;
}
.form img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    top: 10px;
    left: 10px;

}
.formUp{
    display: flex;
}
.name{
    font-size: 16px;
    margin: 10px 0 0 20px;
    font-size: 20px;
}

.messege{
    margin: 20px 0 0 25px;
    font-size: 24px;
    margin-bottom: 20px;
    width: 90%;
}
@media all and (max-width: 1000px) {

}
@media all and (max-width: 800px) {
    .messege{
        font-size: 22px;
    }
}
@media all and (max-width: 600px) {
    .messege{
        font-size: 20px;
    }
}
@media all and (max-width: 400px) {
    .messege{
        font-size: 16px;
    }
}