.Form {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
    background-color: white;
    box-shadow: 0 0 8px rgb(135 132 132 / 50%);
    border-radius: 20px;
}
.Form img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    top: 10px;
    left: 10px;

}
.messagesTime{
    font-size: 16px;
}
.Form span{
    position: relative;
    top: -65px;
    left: 110px;
    font-size: 24px;
}
.messege{
    position: relative;
    left: 5%;
    font-size: 24px;
    margin-bottom: 20px;
    width: 90%;
}