.Container{
    display: grid;
    grid-template-areas:
    'Header'
    'maincontent';
    grid-template-rows: 0.2fr auto;
    background-color: white;
    box-shadow: 0 0 8px rgba(135, 132, 132, 0.5);
    margin: 50px auto;
    max-width: 1200px;
    justify-content: center;
}
.Header{
    grid-area: Header;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.Header h3{
   position: relative;
   left:5%;
   top: 10%;
}
.Header h3::before {
    content: "";
    position: absolute;
    width: 900px;
    height: 2px;
    background: #e3e2e2;
    top: 140%;
}
.Search{
    position: relative;
    top:30px;
    left: 5%;
}
.Search input{
    width: 280px;
    height: 28px;
    border-radius: 40px;
    text-align: left;
    justify-content: left;
    font-size: 17px;
}

.Search button{
    position: relative;
    top: 0px;
    left: -124px;
    height: 26px;
    width: 120px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(217,52,52,.87);
    justify-content: center;
    font-size: 17px;
}
.Search ::before {
    content: "";
    position: absolute;
    width: 900px;
    height: 2px;
    background: #e3e2e2;
    top: 180%;
    left: -136%;
}

.mainContent{
    grid-area: maincontent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Video{
    margin: 0 50px 50px;
}
.videoMain{
    width: 300px;
    height: 300px;
}
.videoMain video{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.Post {
    margin-top: 5px;
 }

.Post button:hover{
    color:red;
 }

.Post span{
    font-size: 18px; 
}
.Post button{
    font-size: 30px;
}
@media all and (max-width: 1400px) {
    .Container{
        margin: 50px auto;
        max-width: 1000px;
    }
}
@media all and (max-width: 1200px) {
    .Container{
        margin: 50px auto;
        max-width: 800px;
    }
    .Header h3::before {
        width: 700px;
    }
    .Search ::before {
        width: 700px;
    }
    
}
@media all and (max-width: 1000px) {
    .Container{
        margin: 50px 0% 50px 10%;
        max-width: 800px;
    }
    .Video{
        margin: 0px 20px 20px;
    }
    .videoMain{
        width: 200px;
        height: 200px;
    }
    .videoMain video{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .Post {
        margin-left: -10px;
    }
.Post span{
    font-size: 14px;
}
.Post button{
    font-size: 19px;
}
.Header h3::before {
    width: 600px;
}
.Search ::before {
    width:600px;
}
}
@media all and (max-width: 800px) {
   
    .Container{
        margin: 100px 0% 50px 12.5%;
        max-width: 650px;
    }
    .Video{
        margin: 0px 20px 20px 0px;
    }
    .videoMain{
        width: 200px;
        height: 200px;
        margin-left: 20px;
    }
    .videoMain video{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .Post {
    position: relative;
    left: 21px;
    }
.Post span{
    font-size: 14px;
}
.Post button{
    font-size: 19px;
}
.Header{
    margin-bottom: 50px;
}
.Header h3::before {
    width: 100%;
    left: -5%;
}

.Search {
    display: flex;
    flex-direction: column;
    position: static;
    margin-top: 25px;
}
.Search ::before {
    display: none;
}
.Search input{
    width: 200px;
    height: 28px;
    margin: 0 auto;
}

.Search button{
    margin: 3%  auto 0;
    position: static;
}
}
@media all and (max-width: 600px) {
    .Container{
        margin: 100px 0% 50px 15%;
        max-width: 550px;
    }
    .Search input{
        width: 170px;
        height: 28px;
    }
    .Header{
        margin-bottom: 20px;
    }
}
@media all and (max-width: 450px) {
    .Container{
        margin: 100px 0% 50px 21%;
        max-width: 300px;
    }
}
@media all and (max-width: 350px) {
    .Container{
        margin: 100px 0% 50px 22%;
        max-width: 250px;
    }
}
@media all and (max-width: 300px) {
    .Container{
        margin: 100px 0% 50px 25%;
        max-width: 200px;
    }
    .Header h3{
        position: static;
        margin: 20px auto 0;
    }
    .Post {
        left: 30px;
        }
    .Post span{
        font-size: 12px;
    }
    .Post button{
        font-size: 16px;
    }
    
}
















