.posts{
    background-color: white;
    margin-bottom: 20px;
}
.posts img{
    width:200px;
    height: 200px;
}
.photo{
    display: flex;
}
.photo img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.name{
    margin: 5px 0 0 10px;
    font-size: 20px;
}
.name p{
    margin-top: 5px;
    font-size: 18px;
}
.photo img{
    width:120px;
    height: 120px;
    border-radius: 60px;
    margin: 10px;
    
}
.image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.image img{
    width: 830px;
    height: 400px;
    border-radius: 30px;
    object-fit: cover;
}
.post{
    font-size: 20px;
    margin: 20px;
}
.like{
    display: flex;
    font-size: 20px;
}
.like a{
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-indent: 2em;
}
@media all and (max-width: 1000px) {
    .posts{
        width: 740px;
        }
} 