.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
}
.container li{
    list-style-type: none;
}
.leftSide{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.leftSide img{
    width: 100px;
    height: 100px;
}
.post{
    width: 900px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newpost{
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}
.newpost img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.rigthSide{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.rigthSide img{
    width: 100px;
    height: 100px;
}
@media all and (max-width: 1000px) {
    .post{
        width: 740px;
        }
}