.container{
    display: grid;
    grid-area: "leftSide" "post" "rigthSide";
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: center;
}
.leftSide{
    grid-area: leftSide;
    margin-right: 200px;
}
.leftSide img{
    width: 100px;
    height: 100px;
}
.post{
    grid-area: post;
}
.newpost img{
    width: 100px;
    height: 100px;
}
.rigthSide{
    grid-area: rigthSide;
}
.rigthSide img{
    width: 100px;
    height: 100px;
}
