.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftSide{
    width: 200px;
}
.leftSide img{
    width: 100px;
    height: 100px;
}
.post{
    width: 600px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newpost img{
    width: 100px;
    height: 100px;
}
.rigthSide{
    width: 200px;
}
.rigthSide img{
    width: 100px;
    height: 100px;
}
