.posts{
    margin-top: 20px;
    background-color: white;
    width: 906px;
}
.photo{
    display: flex;
}
.name{
    margin: 10px 0 0 5px;
    font-size: 20px;
}
.name p{
    margin-top: 5px;
    font-size: 18px;
}
.photo img{
    width:120px;
    height: 120px;
    border-radius: 60px;
    margin: 10px;
}
.image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.image img{
    width: 830px;
    height: 400px;
    border-radius: 30px;
}
.post{
    font-size: 20px;
    margin: 20px;
}
.like{
    display: flex;
    font-size: 20px;
}
.like a{
    margin-bottom: 20px;
}
@media all and (max-width: 1000px) {
    .posts{
        width: 740px;
        }
}