.container{
    display: grid;
    grid-template-areas:
    'people main';
    grid-template-columns: 0.2fr auto;
    margin: 50px auto;
    max-width: 1200px;
}
.people{
    grid-area: people;
    margin: 0px 50px 20px 0px;
    background-color: white;
    width: 300px;
    box-shadow: 0 0 8px rgb(135 132 132 / 50%);
}
.main{
    grid-area: main;
}
.formInfo{
    background-color: white;
    box-shadow: 0 0 8px rgb(135 132 132 / 50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.formInfo img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.Form{
    margin-bottom: 50px;
}
@media all and (max-width: 1600px) {
    .container{
        max-width: 1000px;
    }
    .people{
        width: 200px;
    }
    .main{
        margin-right: 50px;
    }
}
@media all and (max-width: 1300px) {
    .container{
        max-width: 900px;
    }
    .people{
        margin: 0px 50px 20px 0px;
        width: 200px;
    }
    .main{
        margin-right: 60px;
    }
}
@media all and (max-width: 1000px) {
    .container{
        max-width: 800px;
    }
    .people{
        margin: 0px 50px 20px 62px;
        width: 120px;
    }
    .main{
        margin-right: 60px;
    }
}
@media all and (max-width: 800px) {
    .container{
        max-width: 700px;
        margin: 100px auto 50px;
    }
    .people{
        margin: 0px 40px 20px 70px;
        width: 90px;
    }
    .main{
        margin-right: 60px;
    }
}





