.Form{
    font-size: 20px;
}
.Form input {
    border-radius: 20px;
    line-height: 40px;
    width: 770px;
    height: 50px;
    word-wrap: break-word;
    text-align: center;
    font-size: 18px;
    position: relative;
    top:-60px;
    left: 100px;
    background-color: #efefef;
    border: 0;
    white-space: normal;
}

.Form button {
    position: relative;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    color: white;
    background-color: rgba(219, 26, 26, 0.87);
    justify-content: center;
    font-size: 17px;
    top: -61px;
    left: -60px;
}

.Form button:hover {
    opacity: 1;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(87, 11, 11, 0.2);
}
