.profileData h3{
    text-align: center;
    font-size: 22px;
}
.profileData ul{
    text-align: start;
    font-size: 22px;
}
@media all and (max-width: 800px) {
    .profileData ul{
        padding: 0px 20px;
    }
}
@media all and (max-width: 600px) {
    .profileData h3{
        font-size: 20px;
    }
    .profileData ul{
        font-size: 20px;
        padding: 0px 15px;
    }
}
@media all and (max-width: 500px) {
    .profileData h3{
        font-size: 18px;
    }
    .profileData ul{
        font-size: 18px;
        padding: 0px 10px;
    }   
}