.profileInfo {
    display: grid;
    grid-template: "header" "upMenu" "upContent" "mainContent";
    grid-template-rows: auto;
}

.profileInfo a {
    letter-spacing: 2px;
    text-indent: 2.5em;
    color: black;
    text-decoration: none;
}

.header {
    grid-area: header;
    height: 300px;
}

.header img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.upMenu {
    grid-area: upMenu;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 8px rgb(135 132 132 / 50%);
}

.upMenu a {
    position: relative;
    left: 6%;
    font-size: 24px;
    top: 3px;
}

.upContent {
    grid-area: upContent;
    display: grid;
    grid-template: "upImage upMain";
    grid-template-columns: auto;
    justify-content: center;
}

.upImage {
    grid-area: upImage;
    text-align: center;
    background-color: white;
    margin-top: -170px;
}

.upImage img {
    width: 200px;
    height: 184px;
}

.status {
    margin-top: 11px;
}

.status input {
    width: 100px;
    border-radius: 10px;
}

.upMain {
    grid-area: upMain;
    height: 50px;
    background-color: white;
    margin-top: 15px;
    font-size: 20px;
    width: 109%;
}

.upMain a {
    display: inline-block;
    position: relative;
    top: -32%;
}

.addPhoto {
    position: relative;
    top: 23%;
    left: 2%;
}

.upMain span {
    opacity: 0;
    position: relative;
    top: -38%;
    left: 2.5%;
}

.mainContent {
    grid-area: mainContent;
    display: grid;
    grid-template: "upMainContent" "middleMainContent";
    grid-row: auto;
}

.upMainContent {
    grid-area: upMainContent;
    margin: 15px 0;
    display: flex;
}
.upMainContent li{
    list-style: none;
    margin-bottom: 25px;
}
.upMainContent ul{
    padding: 30px;
}
.upMainContentUl{
    background-color: white;
    margin: 0  20px 0 249px;
}
.UpMainContentForm{
    background-color: white;
    width: 607px;
}
.middleMainContent {
    grid-area: middleMainContent;
    margin: 0 auto;
    
}