*{
    transition: 0.2s;
}

.Header{
    grid-area: Header;
    background: white;
    display:grid;
    grid-template-areas:
            'Logo HeaderMain Login ';
    grid-template-columns: 1.4fr 5.8fr 4.7fr ;
    font-family: 'Popins', sans-serif;
    width: 100%;
    height: 70px;
    padding: 0;
}
.Header a{
font-size: 32px;
color: black;
}

.Header a:hover {
    color: #bf1650;
}

.logo{
    color: black;
    grid-area: Logo;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 21px;
    left: 35px;
    max-height: 50px;
}
.logo a{
    font-size: 38px;
    color: black;
    text-decoration: none;

}
.HeaderMain{
    grid-area: HeaderMain;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.HeaderMain a{
    color: black;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    text-indent: 2.5em;
    margin-top: 24px;
}
.Login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Login a{
    position: relative;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    text-indent: 1.5em;
    top: 25px;
}
.menu{
    display: none;
}

@media all and (max-width: 1500px) {
    .logo a{
        font-size: 34px;
    }
    .logo{
        top: 23px;
        left: 35px;
    }
}


@media all and (max-width: 1000px) {
    .Header{
        grid-template-columns: 1.6fr 5fr 4.7fr ;
    }
    .logo{
        top: 25px;
        left: 35px;
    }
    .Header a{
        font-size: 29px;
    }
    .logo a{
        font-size: 30px;
    }
}
@media all and (max-width: 800px) {
    .menu{
        display:block;
    }

.HeaderMain a{
   display: none;
}
.Header{
    grid-area: Header;
    display:grid;
    grid-template-areas:
            'menu Logo Login ';
    grid-template-columns: 1.5fr 2fr 2fr ;
    height: 70px;
    position: fixed;
    z-index: 100;
}
.logo{
    margin-top: 0px;
    margin-left: 0px;
}

.menu{
    grid-area: menu;
    position: relative;
    top:22px;
    left:0px;
    z-index: 2;
    max-height: 50px;
    width: 135%;
}
.menu button:hover{
    color: red;
}
.menu ul li{
    list-style-type: none;
}
.menu1{
    background-color: white;
    display: flex;
    flex-direction:column;
    width: 92%;
    z-index: 2;
    background-color: white;
    position: relative;
    top: -12px
}
.menu1 a{
    position: relative;
    left: -26px;
    font-size: 52px;
}

.menu2{
    transform: translateX(-130%);
}

}
@media all and (max-width: 700px) {
    .menu1{
        width: 98%;
    }
     .menu1 a{
        font-size: 45px;
    }
}
@media all and (max-width: 600px) {
    .menu1{
        width: 103%;
    }
     .menu1 a{
        font-size: 41px;
    }
}
@media all and (max-width: 500px) {
   
    .menu1{
        width: 105%;
    }
     .menu1 a{
        font-size: 34px;
    }
}

@media all and (max-width: 400px) {
    .Header{
        grid-template-columns: 1.5fr 2fr 2fr;
    }
    .Header a{
        font-size: 22px;
    }
    .menu{
        top:20px;
    
    }
    .menu1{
        width: 130%;
    }
     .menu1 a{
        font-size: 32px;
    }
}
