.WhiteLine2{
    width: 220px;
    height: 300px;
    position: relative;
    left: 350px;
    top:43px;
    background-color: white;
    box-shadow: 0 0 8px rgba(135, 132, 132, 0.5);
}
.WhiteLine2 h3{
    position: relative;
    left: 50px;
    top:10px;
    font-size: 14px;
}

.WhiteLine2 h3:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 125px;
    height: 1px;
    background: #f00;
}

.WhiteLine2 img{
    width: 40px;
    height: 40px;
    position: relative;
    left: -25px;
    top:15px;
    margin-bottom: 20px;
    border-radius: 40px;
}

.WhiteLine2 ul li{
    list-style-type: none;
    font-size: 10px;
    width: 200px;
    display: flex;

}
.WhiteLine2 ul li a:hover{
    color: red;

}
.WhiteLine2 p{
    font-size: 14px;
    position: relative;
    left: -10px;
    top:5px;
}
.WhiteLine2 a{
    color: black;
    text-decoration: none;
    white-space: nowrap;
}
.Adventure{
    position: relative;
    left: -107px;
    top:41px;
}
.Food{
    position: relative;
    left: -106px;
    top:41px;
}
.Drama{
    position: relative;
    left: -87px;
    top:41px;
}
.Fitnes{
    position: relative;
    left: -84px;
    top:41px;
}
.BsHeart1{
    position: relative;
    left: -34px;
    top:30px;
    font-size: 16px;
}
.BsHeart2{
    position: relative;
    left: -9px;
    top:30px;
    font-size: 16px;
}
.BsHeart3{
    position: relative;
    left: 3px;
    top:36px;
    font-size: 16px;
}
.BsHeart4{
    position: relative;
    left: 10px;
    top:36px;
    font-size: 16px;
}
