.container{
    background-color: white;
    box-shadow: 0 0 8px rgb(135 132 132 / 20%);
}
.container h3{
    font-size: 14px;
    text-align: center;
}
.container img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.container ul{
    padding: 0;
}
.container li{
    margin-left: 5px;
}
.container button{
    font-size: 16px;
    margin-top: -5px;
}
.container span{
    margin-left: 5px;
}
.adventure{
    font-size: 16px;
    display: flex;
}
.adventure p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}
.adventure button{
    margin-left: 2px;
}

.food{
    font-size: 16px;
    display: flex;
}
.food p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}
.food button{
    margin-left: 6px;
}
.drama{
    font-size: 16px;
    display: flex;
}
.drama p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}
.drama button{
    margin-left: 28px;
}
.fitnes{
    font-size: 16px;
    display: flex;
}
.fitnes p{
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.9;
}
.fitnes button{
    margin-left: 33px;
}
@media all and (max-width: 1350px) {
    .container a{
        font-size: 12px;
    }
    .container button{
        font-size: 12px;
        margin-top: -5px;
    }
    .container p{
        font-size: 9px;
    }
 
}



