.container{
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgb(135 132 132 / 20%);
}
.container h3{
    font-size: 14px;
    text-align: center;
}
.container img{
    width: 200px;
    height: 240px;
    object-fit: cover;
}
@media all and (max-width: 1350px) {
    .container h3{
        font-size: 12px;
        text-align: center;
    }
    .container img{
        width: 140px;
        height: 160px;
    }
}
