.WhiteLine1{
    width: 220px;
    height: 240px;
    position: relative;
    left: 350px;
    top:13px;
    background-color: white;
    box-shadow: 0 0 8px rgba(135, 132, 132, 0.5);
}
.photo img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    left: 75px;
    top:-45px;
    z-index: 1;
}
.background img{
    width: 220px;
    height: 100px;
    position: relative;
    left: 0px;
    top:0px;
    z-index: 0;
}
.name{
    position: relative;
    left: 95px;
    top:-48px;
}
.WhiteLine1 p{
    position: relative;
    left: 10px;
    top:-60px;
    width: 200px;
    text-align: center;
    font-size: 14px;
}
.name p {
    position: relative;
    left: -78px;
    top:-5px;
}
