.Form{
    margin: 0 auto;
}
.Form input{
    border-radius: 15px;
    line-height: 40px;
    width: 400px;
    height:50px;
    text-align: center;
    background-color:  #efefef;
}
.Form img{
    position: relative;
    top: 34px;
    right: 3%;
}

.Form button{
    width: 200px;
    height: 40px;
    background-color: #4f6294;
    border-radius: 50px;
    color: white;
    background-color: rgba(219, 26, 26, 0.87);
    font-size: 16px;
    margin: 5% 38%;
}
.Form button:hover {
    opacity: 1;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(87, 11, 11, 0.2);
}
@media all and (max-width: 1000px) {
    .Form input{
        max-width: 300px;
    }
    .Form button{
        width: 180px;
    }
}
@media all and (max-width: 700px) {
    .Form input{
        max-width: 200px;
        margin: 0 auto;
    }
    .Form button{
        width: 140px;
        font-size: 14px;
        margin: 10% 20%;
    }
    .messageInput{
        display: flex;
        flex-direction: column;
    }
    .messageInput img{
        margin: 0 auto;
    }
    .Form img{
        position: static;
    }
    
}