.content{
  display:grid;
  grid-template-areas:
    "Header"
    "maincontent"
    "footer";
  grid-template-rows: 0.2fr auto auto;
  background-color:  #efefef;
}

.mainContent{
  grid-area: maincontent;
  background-color:  #efefef;
  background-position: center;
  background-size: cover;
}

button{
  border: none;
  background: transparent;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

a{
  text-decoration: none;
}

a:hover { 

  cursor: pointer !important;

}